<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node pad</title>
    <!-- <link rel="stylesheet" href="/styles/style.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-neutral-900">
    <form class="p-5 items-center" action="/create" method="post">
        <input class="bg-neutral-800 text-cyan-200 block outline-none w-2/4 m-auto p-3" type="text" placeholder="Enter the title" name="title">
        <textarea class="bg-neutral-800 text-cyan-200 block outline-none mt-5 mb-5 w-2/4 m-auto p-5" name="content" placeholder="Description..."></textarea>
        <input class="bg-teal-300 m-auto w-32 block rounded" type="submit">
    </form>
    <div class="flex">   
    <% if(files.length > 0){ %>
        <% files.forEach(function(val){%>
            <div class="max-w-sm rounded overflow-hidden shadow-lg mt-32 bg-teal-100 m-5">
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2"><%= val %></div>
                  <a class="text-gray-700 text-base" href="/files/<%= val %>">
                    read more...
                  </p>
                </div>    
            </div>
        <% }) %>   
    <%  }else{ %>
        <div class="max-w-sm rounded overflow-hidden shadow-lg mt-32 bg-teal-100 m-5">
            There is no file 
        </div>
    <%   } %>
    </div>
    <!-- <script src="/javascript/script.js"></script> -->
  </body>
</html>